<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="/amdcpu/0/load/1/plot" value="false" />
    <add key="/amdcpu/0/load/2/plot" value="false" />
    <add key="/amdcpu/0/load/3/plot" value="false" />
    <add key="/amdcpu/0/load/4/plot" value="false" />
    <add key="/amdcpu/0/load/5/plot" value="false" />
    <add key="/amdcpu/0/load/6/plot" value="false" />
    <add key="/amdcpu/0/load/0/plot" value="false" />
    <add key="/amdcpu/0/power/0/plot" value="false" />
    <add key="/amdcpu/0/clock/0/plot" value="false" />
    <add key="/amdcpu/0/power/2/plot" value="false" />
    <add key="/amdcpu/0/power/3/plot" value="false" />
    <add key="/amdcpu/0/power/4/plot" value="false" />
    <add key="/amdcpu/0/power/5/plot" value="false" />
    <add key="/amdcpu/0/power/6/plot" value="false" />
    <add key="/amdcpu/0/power/7/plot" value="false" />
    <add key="/ram/load/0/plot" value="false" />
    <add key="/ram/data/0/plot" value="false" />
    <add key="/ram/data/1/plot" value="false" />
    <add key="/nvidiagpu/0/temperature/0/plot" value="false" />
    <add key="/nvidiagpu/0/clock/0/plot" value="false" />
    <add key="/nvidiagpu/0/clock/1/plot" value="false" />
    <add key="/nvidiagpu/0/clock/2/plot" value="false" />
    <add key="/nvidiagpu/0/load/0/plot" value="false" />
    <add key="/nvidiagpu/0/load/1/plot" value="false" />
    <add key="/nvidiagpu/0/load/2/plot" value="false" />
    <add key="/nvidiagpu/0/load/3/plot" value="false" />
    <add key="/nvidiagpu/0/control/0/plot" value="false" />
    <add key="/nvidiagpu/0/fan/0/plot" value="false" />
    <add key="/nvidiagpu/0/smalldata/3/plot" value="false" />
    <add key="/nvidiagpu/0/smalldata/2/plot" value="false" />
    <add key="/nvidiagpu/0/smalldata/1/plot" value="false" />
    <add key="/nvidiagpu/0/load/4/plot" value="false" />
    <add key="/nvidiagpu/0/power/0/plot" value="false" />
    <add key="/nvidiagpu/0/throughput/0/plot" value="false" />
    <add key="/nvidiagpu/0/throughput/1/plot" value="false" />
    <add key="/hdd/0/load/0/plot" value="false" />
    <add key="mainForm.Location.X" value="666" />
    <add key="mainForm.Location.Y" value="110" />
    <add key="mainForm.Width" value="612" />
    <add key="mainForm.Height" value="800" />
    <add key="/amdcpu/0/temperature/0/plot" value="false" />
    <add key="/amdcpu/0/clock/1/plot" value="false" />
    <add key="/amdcpu/0/clock/2/plot" value="false" />
    <add key="/amdcpu/0/clock/3/plot" value="false" />
    <add key="/amdcpu/0/clock/4/plot" value="false" />
    <add key="/amdcpu/0/clock/5/plot" value="false" />
    <add key="/amdcpu/0/clock/6/plot" value="false" />
    <add key="/amdcpu/0/power/1/plot" value="false" />
    <add key="runWebServerMenuItem" value="true" />
    <add key="/hdd/0/load/0/values" value="H4sIAAAAAAAEAHtpfG1xbvNdjy86lk4AIllxCgwAAAA=" />
    <add key="/nvidiagpu/0/temperature/0/values" value="H4sIAAAAAAAEAIsvjcnPbb7rwcDg4sQvF8fEAAb2TlcykqFsG6c28RQo28UpMTIeyvZ0EghNgrJdnRr9YWxnJ8bCJLjeZPckuJnNqxFsDjEY285pVmAS3MwJ4TC2t9P6eIT52mUwtrXTxOkwtpXTKiOEmVKuqXA3KP+Mh7OllyRC2W5Ol/akQdlOTlnqCP+2HUmC+9FQOwWuBgDmllF3IAEAAA==" />
    <add key="/nvidiagpu/0/fan/0/values" value="H4sIAAAAAAAEAPt/IyY/t/muB4NDlYvi11gmBhAQqHI5158MYRdUubxlToGwA6pcfjfEQ9gLKl3+OSRB2BcqXU74Q9kfqlzCzaBsgyqXz1EINQG8UDMVqlwCtyRC2A2VLlsDoWomVLnYhkPZDypdJBOS4O7ZXopgX5iOMJNJHmHXpohUuJltT6HuZKhyuXcvEe6X1qlpcDesVI+D+2XLBqg5BypdUtJS4OoB6IOHAiABAAA=" />
    <add key="/nvidiagpu/0/clock/0/values" value="H4sIAAAAAAAEACs6GpOf23zXg9HBwLXpYSwTAwhwyLq+7k+GsBdIu75lTgGzGe9oud5tiIewDQxd5RyTIGp+yLrK20DZFlKuvIVQtoq86zbjJLj6Oz+h4mdkXJneJ0LYCfKuv2yh4i0armecoep/6Li+j4eKsyi6TuyEsgvkXBdMh7JdZF215KHsBh3XSRGpEL1Av2j9hLpTRc9VY0ki3Ez5lWkQNlD9I+E4uPj011B71+i6utmnQM3XcQUAK0QVDSABAAA=" />
    <add key="/nvidiagpu/0/clock/1/values" value="H4sIAAAAAAAEACs6GpOf23zX49tiHrfnDFfMGIAAxAYAk5BqfxgAAAA=" />
    <add key="/nvidiagpu/0/clock/2/values" value="H4sIAAAAAAAEACs6GpOf23zXgwEInjNcMWOAAgB23fsEGAAAAA==" />
    <add key="/nvidiagpu/0/load/0/values" value="H4sIAAAAAAAEAPt/IyY/t/muBwODkNPXs7FMDGAg7pS9OBnKVnD6xpwCZYs4heTGw9VoZyRB2WJOXjZJcPGrngj2NmMYW9opkTcZLl57OxHKVnT6ZYsw54wzjC3k5NqOMGd7KcKcC9NhbCknJnkYW95pU0QqnN32NB6uZsV2mF1KTvor0+Di7epxcPGkIwg33A6C+VfSCQBuuGQ0IAEAAA==" />
    <add key="/nvidiagpu/0/load/1/values" value="H4sIAAAAAAAEAPt/IyY/t/muBwPDDcevZ2OZGMDghmP24mQo+5bjN+YUuHhIbjyUfcdROyMJLi7fdoQFxt5mnARXk8ibDFdTezsRLv7LNglu/hlnhDlnpqizw9hM8jDxe46bIlLhetueItywYjvMzCeO+ivT4Orb1eOg7EeOSUcQ7rkdlAJnAwBp5jJy/AAAAA==" />
    <add key="/nvidiagpu/0/load/2/values" value="H4sIAAAAAAAEAPt/IyY/t/muBwPDDIevZ2OZGMBghUP24mQoe4HDN+YUKHuGQ0huPJytnZEEZW9w8LJJgqu/6pkEN2ebMUI8kTcZrrf2diJc7y9bmJoJDmecEepd2xHs7aUIMy9MR4hvKT/OAmO3PUW4bcX2RLiaz8+7OWFsAGyuorfwAAAA" />
    <add key="/nvidiagpu/0/load/3/values" value="H4sIAAAAAAAEAPt/IyY/t/muBwODg/3Xs7FMDGDQYL/VbIMAjJ3ImwwTt6u9nQhXky7MKA9jAwA1oa7QSAAAAA==" />
    <add key="/nvidiagpu/0/load/4/values" value="H4sIAAAAAAAEAGt7E5Of23zXQ696r+Osh7FMDEDws2iv47n+ZDDbunKv41vmFDD7dNVex4VT4sFs/ll7HSN0k8BskY69jif8IWyFtr2OdbEQtrzhXsczxhB275T9jgG8EDON/fc5dtxOBLOvPAeq14Ko4Zy439E2HMLe0rrf8VgxhK09d58jVxKEXVG/zzF4NYQtsGqfYz03hJ22dZ+jfU4qmP365D7HjJ8Qd26bvtcxfzvErmk39jq2Tk0Ds99N2+u4Uj0OzI75vt9xywaIOUwdBxzfVEL825N5wBEA1jdkaSABAAA=" />
    <add key="/nvidiagpu/0/smalldata/1/values" value="H4sIAAAAAAAEAGt7E5Of23zXw8P1sOush7FMDEDwwv2w67n+ZAgbKP6WOQXMzgCyF06Jh7CtD7tG6CaB2RqOh11P+EPYJ4DsulgI+0fMYdczxhB2xsxDrgG8EDMrGA+7dtxOBLM7lIDqtSBqOmYdcrUNh5o575DrsWKo+ItDrlxJEDbHp0OuwauhZj455FrPDbX3wSFX+5xUMNvi1iHXjJ8Qd2rYHHbN3w6xK0P9sGvr1DQIGyi+Uj0OzD5Xech1ywaIOV3eh1zfVEL86xF6yBUA4qnZ/iABAAA=" />
    <add key="/nvidiagpu/0/smalldata/2/values" value="H4sIAAAAAAAEAGt7E5Of23zX40HWJ5dZD2OZGIAgIeGTy7n+ZAg745PLW+YUCBuoZuGUeAh70ieXCN0kCLv6k8sJfwj7QcUnl7pYCFuB55PLGWOoGqmvLgG8EDMVqj67dNxOhKj/ClSvBdUr+tXFNhyqnv2ry7FiqPjdzy5cSVD29s8uwauhat59dqnnhor/+exin5MKMV/8i0vGT6g7+z+55G+H2JXw6JNL69Q0CLvvk8tK9Tgw+8SMry5bNkDMuRH4zeVNJcS/D7S+uQAAFFbEKiABAAA=" />
    <add key="/nvidiagpu/0/smalldata/3/values" value="H4sIAAAAAAAEAGt7E5Of23zXg+HBf9dKkStmDCAAZAMA7GkoKhgAAAA=" />
    <add key="/nvidiagpu/0/control/0/values" value="H4sIAAAAAAAEAPt/IyY/t/muBwODh1OFyBUzBjDwcAIAReOv5hgAAAA=" />
    <add key="/nvidiagpu/0/power/0/values" value="H4sIAAAAAAAEAGt7E5Of23zXw+f7VKdZD2OZGIDAZn+d07n+ZDC7zzzN6S1zCpi9JGCi08Ip8WD2vPMTnSJ0k8Bs/bUNTif8IexZlulOdbEQttKGPKczxhD2qo2TnAJ4IWZOMGp06ridCGb/Cs5yqtOC6r3Z7mQbDmFPmzzd6VgxhH3vSa0TVxKEze5Y5hS8GsJWVctzqueGsA9/7XKyz0kFs/emzHDK+AlxJxf7RKf87RC7sn0mObVOTQOzJa9MdFqpHgdm8+/tdtqyAWLO0oJpTm8qIf5Vse51AgC73lvjIAEAAA==" />
    <add key="/nvidiagpu/0/throughput/0/values" value="H4sIAAAAAAAEANM0S8zPbb7r0eAU4VRzJZaJAQQ4zjv+tk6BsGvFnBZGJEPYmYcdn+1JgLDjTjpe10qEsI8fcXRlS4KwV0x2/GMKVf//q6OJBlS8/KTjD1Go+LRfjjf1oeLT9J02HoCac53dqaERyo6QcNp6Baq+77NjbBDU3q3HHc/sg7rt2jnHHZxQcd5kZ1euNDC7wSbS6XI4RPyAT4tTKgvUzAknHaVN0iHspZccu7niIOovazuZpkHsalgn4vR4DdTeDk0nAGiKwRogAQAA" />
    <add key="/nvidiagpu/0/throughput/1/values" value="H4sIAAAAAAAEAAv4m5qf23zXgyGN1bnoeCwTAxAc0FvkzOOSAmYvqExwZvVJBrMdNt90ytyTAGYnMEY5O7glgtkNL9mcN3+CsB3uhTlbOUPUN5gVO1epJoHZCtHJzgd+Q9gOGZ+c+lQg7AS2PGfF2xC9Cj+znJsaoOY03XVqfwExZ8HLOOdaF4i9B04XOAufg7jNQG+Z8+xf8RC955c5p7Kngdkb3Fc4L4yHqFdYstJ5z1uo3phY57XO6WA2Q16B80e+OIg79+U6M2dA7EqIC3euWQn1r+sfJwA7Ylf1IAEAAA==" />
    <add key="/atigpu/0/temperature/0/values" value="" />
    <add key="/atigpu/0/temperature/1/values" value="" />
    <add key="/atigpu/0/temperature/2/values" value="" />
    <add key="/atigpu/0/temperature/3/values" value="" />
    <add key="/atigpu/0/temperature/4/values" value="" />
    <add key="/atigpu/0/temperature/5/values" value="" />
    <add key="/atigpu/0/temperature/6/values" value="" />
    <add key="/atigpu/0/temperature/7/values" value="" />
    <add key="/atigpu/0/temperature/8/values" value="" />
    <add key="/atigpu/0/temperature/9/values" value="" />
    <add key="/atigpu/0/power/0/values" value="" />
    <add key="/atigpu/0/power/1/values" value="" />
    <add key="/atigpu/0/power/2/values" value="" />
    <add key="/atigpu/0/power/3/values" value="" />
    <add key="/atigpu/0/power/4/values" value="" />
    <add key="/atigpu/0/fan/0/values" value="" />
    <add key="/atigpu/0/clock/0/values" value="" />
    <add key="/atigpu/0/clock/1/values" value="" />
    <add key="/atigpu/0/clock/2/values" value="" />
    <add key="/atigpu/0/voltage/0/values" value="" />
    <add key="/atigpu/0/voltage/1/values" value="" />
    <add key="/atigpu/0/voltage/2/values" value="" />
    <add key="/atigpu/0/load/0/values" value="" />
    <add key="/atigpu/0/load/1/values" value="" />
    <add key="/atigpu/0/control/0/values" value="" />
    <add key="/ram/load/0/values" value="H4sIAAAAAAAEAOOc/SE/t/mux7WLuk52/klMDEBweY2u04bCVDDbYqKuU15FPJhd/07HyZoToiYsXccpJRbCTmvSdmIIhbD/7tN2et0IYb86puPEZAVhL/1q4FSXC2HfP2LgZLcWwt5kbuB0iQPCvmBh4MR6F8JmTDdwYriSCGb/6DFwMn4MEZfrMnCKXgURN12k53SuBOLOJ3K6TkcqIe5s+aTjFJoCUf+bTdfp30uImnIWXafrf+PA7Mmcuk7zPkDMmXxF1ylrewqY/eesrlOvVgKYLf1O1wkA/XtT7CABAAA=" />
    <add key="/ram/data/0/values" value="H4sIAAAAAAAEAOOc/SE/t/muR49jhKOdfxITAxDUC0c4bihMBbPVP4Y75lXEg9lb1MIdrTkhanrqwhxTYiHs7YmhjgyhELbk2lDH140QdunXMEcmKwh7pmaMY10uhP3yTbSj3VoI29U22vESB4S9yi7akfUuhK1YEe3IcCURzI5bHu1o/BgifnFxtGP0Koj4KZdIx3MlEHe+Sgp3PFIJdad2uGNoCkS9lmu447+XEDWcTuGO1//GgdkpHuGO8z5AzPnqEuGYtT0FzD5gE+HYq5UAZu9IiXAEAHOS1cYgAQAA" />
    <add key="/ram/data/1/values" value="H4sIAAAAAAAEAOOc/SE/t/muh8nmHkc7/yQmBiCwOtXjuKEwFcxOu93jmFcRD2YvcOh1tOaEqNkypdcxJRbCllPuc2QIhbDz/vY6vm6EsB0iex2ZrCBsvf1djnW5EHbb3S5Hu7UQdoRpt+MlDgh7qUm3I+tdCPuVeLcjw5VEMNubodvR+DFEXIip2zF6FUR8qmGP47kSiDtblXodj1RC3Klg1+sYmgJRn2rY6/jvJUTNN6Nex+t/48DsE/q9jvM+QMxp2NjjmLU9BcyetbXHsVcrAcyet7DHEQDBM5pqIAEAAA==" />
    <add key="/amdcpu/0/load/0/values" value="H4sIAAAAAAAEAOOc/SE/t/muR+RdW0c7/yQmBhB4oO24/jqEHdpa5Wj0OhHM5nPod6wwgKoJKHW87Alhr97l6zgxA8Je9cvKMT8Pwk45uMHxrSWEvdS9xLE+F8qeIuE4dSbUnA9BjtxQM/M/ujmy3oWwhYu0HUMOQOy1SbR2vP8Nan6Vu2P0Koi4SYy54/0UiLjjogbHzZ0Qdhhrl+OyAAi75X6rY5AehH3cPM1xw04IW3VeuGPuB4g5GXK1jvVhEPH2SwGOS7ohbLd1qY4AVNpaaiABAAA=" />
    <add key="/amdcpu/0/load/1/values" value="H4sIAAAAAAAEAOOc/SE/t/mux4HeBY52/klMDCDQ0Om4/jqUbXDA0eh1IoR94bxjhQFUXGCv42VPGHuJ48QMKHvDLMf8PCj7wTfHt5ZQ9oGDjvW5UPaCAsepM6Fsh62O3AYINutdhBtCDiTCzb//DSa+yDF6FVR8Q6Pj/RSo+IfXjps7EexlATAzzzkG6UHZBcccN+yEshlOOOZ+SIT7sT4M5s4Vjku6EXYBAC99GX0gAQAA" />
    <add key="/amdcpu/0/load/2/values" value="H4sIAAAAAAAEAOOc/SE/t/mux+vVPx3s/JOYGECgYZHD+utQtoOMo9HrRAh7QbhjhQFUPEHe8bInTA2z48QMKHuBqmN+HpQdMNHxrSXMzBDH+lwom+GXw9SZUPYBR0dumJkPhBxZ78LE+R1DDsDs5XG8/w1ml6lj9CqoOIO+4/0UmPoox82dMHax47IAKFshxTFID8JecS7KccNOmLikY+6HRITbwhDmL+lG6AUAitoFDCABAAA=" />
    <add key="/amdcpu/0/load/3/values" value="H4sIAAAAAAAEAOOc/SE/t/mux7MZCxzt/JOYGEDgQL/j+utQ9obNjkavEyHsB3cdKwyg4g5bHS97QtkTpjtOzICyFWY65udB2QLvHd9aQtkfdjrW50LZDbmOU2dC2QETHblhZn5Y4Mh6F6am0zHkANTeCy2O97/B7J3jGL0KKm7Q53g/BeaGDY6bO2F6dzsuC4CwU55ucwzSQ+jdsBNhfu6HRLgf68Og4g8mOS7phrIL1joCAPl7LYUgAQAA" />
    <add key="/amdcpu/0/load/4/values" value="H4sIAAAAAAAEAOOc/SE/t/muR5C/u6OdfxITAwgkWDiuvw5jz3c0ep0IYV9ocawwgIo/KHO87AllMyQ6TsyAshusHfPzoOwNZxzfWkLZCrWO9blQtoOp49SZMHFvR24DhDjrXSh7gZ1jyAGovQwejve/IcyPXgUVb1ByvJ+CMH9zJ5Rt0Oe4LADKDpjoGKQHc3Os44adCDfnfkhEuC0MIb6kG+FHANqZzY4gAQAA" />
    <add key="/amdcpu/0/load/5/values" value="H4sIAAAAAAAEAOOc/SE/t/muh07LVAc7/yQmBhBoWOSw/jqUzSDmaPQ6Ecxe6aDvWGEAFV/A43jZE8p22OowMQOm/oRDfh6U/aDM8a0lhC1SwulYnwtTM81h6kyEXm6YmQ27HVjvQti/7CY4hByA2PsO6Lb732B6fzlEr4KI/6o74XA/BSKutu2nw+ZOhJuXBUDZCfKOQXoIvRt2wuxScsz9kAh1p7ZjfRhM/K3Dkm4Ym9MRAERb7t8gAQAA" />
    <add key="/amdcpu/0/load/6/values" value="H4sIAAAAAAAEAOOc/SE/t/mux/1vhx3s/JOYGEDgwGeH9deh7AQ2R6PXiRC2grdjhQFM3MLxsieU7SDjODEDym4IccjPg7B3BHg5vrWEsKcVn3Ooz4Wws/MTHKbOhKpn+OXADTVT4eI6B9a7EPanyAkOIQcg9t7wfOZw/xvMrmaH6FUQ8dLgtw73UxBu3twJU8PsuCwAws7jF3MM0oO57YrDhp0Q9k7NOQ65HyDm5JVxOtaHQcSD4g46LOmGsH2ydzsAAEWcPfkgAQAA" />
    <add key="/amdcpu/0/temperature/0/values" value="H4sIAAAAAAAEAAsz7izIbb7rwZBQ4fR04RRmBhBoyHXS1J8EYS8od+prSGICsx+UOPVEQtkNOU69RlD2gVSn/U1QtkOV026Y+IIqJ9McmPokp3eFMDXJTr9fwtjpToFHEiHshHynTnuY+gwnhhCYvYlO67l+Q9WkO9mEQ8UZ8pweLZkMcSdDvpOKH5TtkOPk3QVlA82cfx8mnu4EAG8roy/wAAAA" />
    <add key="/amdcpu/0/temperature/2/values" value="" />
    <add key="/amdcpu/0/temperature/3/values" value="" />
    <add key="/amdcpu/0/temperature/4/values" value="" />
    <add key="/amdcpu/0/temperature/5/values" value="" />
    <add key="/amdcpu/0/temperature/6/values" value="" />
    <add key="/amdcpu/0/temperature/7/values" value="" />
    <add key="/amdcpu/0/power/0/values" value="H4sIAAAAAAAEAOOc/SE/t/muxyaJSCc7/yQmBiCwj7Bz2lCYCmbr3/B3MgyMB7OvbQhwqjCAqLl8K9jpsieE7cbo4jQxA8LOLjF3ys+DsJnW+jm9tYSwa7tcnOpzIeygOzpOU2dC2OumezpxQ80MU3F3Yr0LYV/gs3AKOZAIZrsrmznd/wYRP7LExil6FUTcQtTJyTcR4k4F5iAn116IO9+0+zktC4Co9ykMcVr7F6LGp9PfKfRVHMQvOV5OuR8g5uh6RzrJnk4Bs7ep2DqxiSeA2UJZbk4AFhFRsiABAAA=" />
    <add key="/amdcpu/0/power/1/values" value="H4sIAAAAAAAEAOOc/SE/t/mux3OGp452/klMDEDw0/GQ44bCVDBbRfeDY15FPJidZ/7V0ZoTouZKyRPHy54QdjjnPseJGRB2S9pex9eNELbL8Q+OTFYQdrniPce6XAj7muMcR7u1EHYT92nHSxwQtn3gPUfWuxA2y5q9jgxXEsFsIdbdjsaPIeITX2x3jF4FEX+susfxXAnEnbP+MDgdqYS4M+Tkb8fQFIh6hX3/Hf+9hKjR+HnL8frfODB75p4LjvM+QMwx8mN0ytqeAmb7WB517NVKALNrfR84AgDk4u71IAEAAA==" />
    <add key="/amdcpu/0/clock/0/values" value="" />
    <add key="/amdcpu/0/power/2/values" value="H4sIAAAAAAAEAOOc/SE/t/mux/qEKw52/klMDECw8fkehw2FqWD2q10PHQwD48HsroAnDhUGEDWLp15yuOwJYT9I3+gwMQPCzhQ86pCfB2H7ed90eGsJYX9UvOhQnwthfwtf4DB1JoS9+uoJB26ombeNbjiw3oWwX2nvcwg5kAhmx/ntcbj/DSJ+jmeXQ/QqiLiY4VYH30SIO9Okfju49kLc+Sbxh8OyAIj6E+5fHdb+hahZ4X7dIfRVHJidMvGKQ+4HiDkrcj86yJ5OAbN3VZ5wYBNPALOXT7/vAAAUjyqTIAEAAA==" />
    <add key="/amdcpu/0/clock/1/values" value="H4sIAAAAAAAEAOOc/SE/t/muR0/TXFc7/yQmBiBY4bLEdUNhKpidZzLN1TAwHsxeU7DUtcIAoia7a6rrZU8Iuz1sjuvEDAi7A8jOz0OY89YSwl4utMS1PhfC7pKb6zp1JoS9hWG5KzfUzM5zc1xZ70LY3UA1IQcSwey1QHvvf4OI7z60wjV6FULcNxHizuUPFru69kLcWdE0w3VZAET9xqxlrmv/QtRME1vgGvoqDu6e3A8QczbNWeYqezoFLs4mngBm9/2a6woA/F8/zSABAAA=" />
    <add key="/amdcpu/0/power/3/values" value="H4sIAAAAAAAEAOOc/SE/t/muh0Rmk4OdfxITAxBM2RbssKEwFcyuWNPhYBgYD2ZP+9LhUGEAUeO+r9rhsieEfTY9xGFiBoT9wSLcIT8Pwrb72+1Q5wth1zG2OryLhLBnuZo7TJ0JYZuapDtwQ83sNWl2YL0LYTPUxTiEHEgEs699C3O4/w0iLqsS4RC9CiLeVxPl4JsIcWeGyxQH116IO5mi+hyWBUDUP2qZ4rD2L0TNVY9ah9BXcWA2x9Jsh9wPEHPKmKY7yJ5OAbNv7E1wYBNPALPbtjQ5AACQfzZ2IAEAAA==" />
    <add key="/amdcpu/0/clock/2/values" value="H4sIAAAAAAAEAOOc/SE/t/muR3bSVFc7/yQmBiAomDHNdUNhKpjt1tLjahgYD2YfeJzuWmEAUdP3bK7rZU8I+9/jMteJGRD2IYdG1/w8CNvsTYdrnS+E/Uu6zPVdJITdJTfXdepMCNskrMOVG2pm8aTprqx3Ieygon7XkAOJEPXf5rje/wYRDzTrd41eBRHXnNXq6psIcefyB4tdXXsh7twf1ua6LACi3jOs13XtX4ia4o7prqGv4iBu29XhmvsBYs7VG92usqdTwOw/QHeyiSeA2ZX7ZrgCAH/xib8gAQAA" />
    <add key="/amdcpu/0/power/4/values" value="H4sIAAAAAAAEAOOc/SE/t/muR9Ku0w52/klMDEDAe2+Nw4bCVDD7QeJ5B8PAeDCbse+KQ4UBRM3KmKMOlz0h7O6cZQ4TMyBsE+UVDvl5EHbAxosOdb4Q9r7PhxzeRULYYYfbHPzWQthJV9c6BMlA2NtYjjiw3oWwHbJWOoQcSASzLdwXOdz/BhFv0FngEL0KIp68bbHDuRKIO1lmP3I4Uglx56oVdx2WBUDUa7U/clj7F6Lm0NkTDqGv4sBsEbadDgosEDXR0+45ZG1PAbNXqK13YBNPALOXBR9zAABS4LGPIAEAAA==" />
    <add key="/amdcpu/0/clock/3/values" value="H4sIAAAAAAAEAOOc/SE/t/muxwaLZa52/klMDEBQMGOa64bCVDDb51uvq2FgPJjd+W2Oa4UBRE0f3zzXy54Qtt+qPteJGRD2qltLXPPzIOwVLktc63wh7OVCS1zfRULY6xYtdfVbC2FPaJvnGiQDYQco9buy3kWoCTmQCGZ3Ae29/w0iHmjW7xq9CiF+rgTizjV2S12PVELcua9rpeuyAKg7n811XfsXoqZ40nTX0FdxYHZ+2jRXBRaImuwpU12ztqfA3ckmngDR+2uuKwCtxO2pIAEAAA==" />
    <add key="/amdcpu/0/power/5/values" value="H4sIAAAAAAAEAOOc/SE/t/mux7+CRQ52/klMDECg3dTpsKEwFcyeJrbawTAwHszeKbHMocIAosbs7VyHy54Q9jrJNoeJGRD23z0tDvl5EHZU12qHOl8IOx+o/l0khH3reazDuQMQttvZHodLHBB2yc/pDqx3IWzGbS0OIQcSwezwxS0O979BxKu+1ztEr4KIt+s3O5wrgbgza9NmhyOVEHcuO7bOITQFoj7kxhaHfy8hamatn+UQ+ioOzJ7xbKKDAgtEzQzz7Q5Z21PAbLX1vQ5s4glg9o/Fsx0A+PwqOiABAAA=" />
    <add key="/amdcpu/0/clock/4/values" value="H4sIAAAAAAAEAOOc/SE/t/muR++Wua52/klMDEBQMGOa64bCVDDbraXH1TAwHswuOTLdtcIAoqbv2VzXy54Q9r/HZa4TMyDs32/6XPPzEObU+ULYZrs6XN9FQthdcnNdzx2AsCMuTHC9xAFhByj1u7LehbCDivpdQw4kQtR/m+N6/xtEPNCs3zV6FUL8XAnEnTkXproeqYS4s6JphmtoCkT9xqxlrv9eQtQE8PW7hr6KA7Pz06a5KrBA1Fy90e2atT0FLs4mngBmV+6b4QoAVh1ckSABAAA=" />
    <add key="/amdcpu/0/power/6/values" value="H4sIAAAAAAAEAOOc/SE/t/mux7KICAc7/yQmBiA462bmsKEwFczeppntYBgYD2bPq8pxqDCAqKlTjXS47Alhh9aZOkzMgLB3TjFxyM+DsJc9LHWo84Ww7cOiHepyIeypZpIOdmsh7FdyLg6XOCBsP8MIB9a7EPYpJwOHkAOJYLa3qYHD/W8QcYHNhg7RqyDi0mssHM6VQNzJdqjK4UglxJ0LdhU5hKZA1O8+U+Dw7yVETQlbgEPoqzgwO/25p4MCC0QNh32jQ9b2FDBb74ilA5t4Apid6RrpAADbmUzIIAEAAA==" />
    <add key="/amdcpu/0/clock/5/values" value="H4sIAAAAAAAEAOOc/SE/t/muR9+zua52/klMDEDgG9XnuqEwFcye9GWeq2FgPJh94HG6a4UBRE0f3zzXy54Q9r/HZa4TMyDsQw6Nrvl5EPZO5jTXOl8I+5d0mWtdLoQdVNTvarcWwjYJ63C9xAFhM6wpd2W9C2FP2xPiGnIgEczWnNXqev8bRHx3Vatr9CqI+KPb+a7nSiDuNFbpcD1SCXEnT1iGa2gKRH3Opqmu/15C1IgnNbqGvoqDu0eBBaKmo2OOa9b2FLg4m3gCmB3mN8EVAFfhFZggAQAA" />
    <add key="/amdcpu/0/power/7/values" value="H4sIAAAAAAAEAOOc/SE/t/muh8sRVwc7/yQmBiCY2qTosKEwFczeX+/jkFcRD2bLZOY6WHNC1FxnTna47Alhp3VoOUzMgLCL2L7bv26EsJkCvB2YrCBshzXqDnW5ELbmi1P2dmshbB8JNYdLHBB2e6+2A+tdCPsXG4dDyIFEMHtGF5fD/W8QcRdmRofoVRDxrBuiDudKIO5UW+/pcKQS4s5GS1eH0BSoOae9HP69hKj59l7E4frfODDbJkbQYd4HiDkvXoQ6ZG1PAbPdV7I49GolgNmf5ik4AADwN7XLIAEAAA==" />
    <add key="/amdcpu/0/clock/6/values" value="H4sIAAAAAAAEAOOc/SE/t/muR6F3k6udfxITAxDkz5jmuqEwFcx2a+lxzauIB7MPPE53teaEqNlf1+Z62RPCXrViievEDAj7kEOj6+tGCHsnc5orkxWE/Uu6zLUuF8IOKup3tVsLYduY1rpe4oCwTxzOdGW9C2FP2xPiynAlEcx+cDvf1fgxRHx3Vatr9CqI+COg+LkSiDuNVTpcj1RC3MkTluEamgJR/0Nriuu/lxA14kmNrtf/xoHZXYejXOd9gJjz6cwk16ztKXB39molgNmV+2a4AgCAJj1bIAEAAA==" />
    <add key="plotPanel.MinTimeSpan" value="0" />
    <add key="plotPanel.MaxTimeSpan" value="600" />
    <add key="plotPanel.MinVoltage" value="NaN" />
    <add key="plotPanel.MaxVoltage" value="NaN" />
    <add key="plotPanel.MinClock" value="NaN" />
    <add key="plotPanel.MaxClock" value="NaN" />
    <add key="plotPanel.MinTemperature" value="NaN" />
    <add key="plotPanel.MaxTemperature" value="NaN" />
    <add key="plotPanel.MinLoad" value="NaN" />
    <add key="plotPanel.MaxLoad" value="NaN" />
    <add key="plotPanel.MinFan" value="NaN" />
    <add key="plotPanel.MaxFan" value="NaN" />
    <add key="plotPanel.MinFlow" value="NaN" />
    <add key="plotPanel.MaxFlow" value="NaN" />
    <add key="plotPanel.MinControl" value="NaN" />
    <add key="plotPanel.MaxControl" value="NaN" />
    <add key="plotPanel.MinLevel" value="NaN" />
    <add key="plotPanel.MaxLevel" value="NaN" />
    <add key="plotPanel.MinFactor" value="NaN" />
    <add key="plotPanel.MaxFactor" value="NaN" />
    <add key="plotPanel.MinPower" value="NaN" />
    <add key="plotPanel.MaxPower" value="NaN" />
    <add key="plotPanel.MinData" value="NaN" />
    <add key="plotPanel.MaxData" value="NaN" />
    <add key="plotPanel.MinSmallData" value="NaN" />
    <add key="plotPanel.MaxSmallData" value="NaN" />
    <add key="plotPanel.MinThroughput" value="NaN" />
    <add key="plotPanel.MaxThroughput" value="NaN" />
    <add key="treeView.Columns.Sensor.Width" value="312" />
    <add key="treeView.Columns.Value.Width" value="125" />
    <add key="treeView.Columns.Min.Width" value="125" />
    <add key="treeView.Columns.Max.Width" value="125" />
    <add key="listenerPort" value="8085" />
  </appSettings>
</configuration>